.container .new-tweet {
  border-radius: 8px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #c2c2c2;
  padding: 0 20px 1em 20px;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #eee
}

h2 {
  border-bottom: solid;
  border-width: 0.8px;
}

textarea {
  width: 100%;
}

span.counter {
  float: right;
  padding-right: 10px;
}
